{% extends 'base.html.twig' %}

{% block title %}Mon super blog
{% endblock %}

{% block body %}

	<h1>Mon super blog</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolore dolorem quia soluta, fuga id assumenda deserunt alias impedit expedita consequuntur et ipsum rerum. Quis, a! Blanditiis, repellat. Necessitatibus, nemo.
		Sint assumenda et saepe hic debitis deleniti illo accusantium quibusdam ratione earum iure magnam, aut nisi officiis placeat, quis cupiditate sit illum. Porro ea animi vero nemo libero ut maxime!
		Impedit ducimus eos explicabo inventore laudantium recusandae deleniti perspiciatis autem enim magni eum at suscipit dolore odio quo soluta magnam nobis, numquam officiis doloremque consequatur nisi saepe hic? Laudantium, corrupti?
		Sit quis minima, atque blanditiis molestiae similique error maiores? Iure iste adipisci, deserunt sequi quisquam dolores nostrum et laudantium error non possimus totam laboriosam dolor dignissimos velit. Totam, dolores voluptatibus?</p>

{% endblock %}
